{{define "footer"}}
	<div id="footer">

		<!-- Ad space -->
		<div id="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- PCI Footer -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:728px;height:90px"
				     data-ad-client="ca-pub-9712002391641039"
				     data-ad-slot="5020699809"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<!-- Donations space -->
		<div id="donations">
			<img class="coinLogo" src="/css/iotalogo.png" data-toggle="modal" data-target="#iotaModal" />
			<img class="coinLogo" src="/css/btclogo.png" data-toggle="modal" data-target="#btcModal" />
			<img class="coinLogo" src="/css/ltclogo.png" data-toggle="modal" data-target="#ltcModal" />
			
			<!-- Contact Modal -->
			<div id="contactModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Contact Us</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      		<form class="form-horizontal">

							<!-- Name input-->
							<div class="form-group row">
								<label class="col-md-3 control-label" for="name">Name</label>  
								<div class="col-md-6">
									<input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">
								</div>
							</div>

							<!-- Email input-->
							<div class="form-group row">
								<label class="col-md-3 control-label" for="email">E-Mail</label>  
								<div class="col-md-6">
									<input id="email" name="email" type="email" placeholder="" class="form-control input-md" required="">
								</div>
							</div>

							<!-- Textarea -->
							<div class="form-group row">
							  <label class="col-md-3 control-label" for="message">Message</label>
							  <div class="col-md-6">                     
							    <textarea class="form-control" id="message" name="message">What do you have to say?</textarea>
							  </div>
							</div>

							<!-- Button -->
							<div class="form-group row">
								<label class="col-md-3 control-label" for="submit"></label>
								<div class="col-md-6">
									<button id="message" name="action" value="message" type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>

						</form>
			      </div>
			    </div>

			  </div>
			</div>

			<!-- Help Modal -->
			<div id="helpModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-lg">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Help</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">

			      		<p>PCI Lookup is a site desinged to help you find the Vendor and Device descriptions you need to get drivers for you PC. If you are not sure where to start, there is some helpful information below that can get you started. If you are still lost, feel free to contact us, we would be happy to help!</p>
			      		
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#windows">Windows</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#linux">Linux</a>
							</li>
						</ul>

						<div class="tab-content" style="text-align: left;">
							<div class="tab-pane active container" id="windows">
								<ol>
								<li>To find the Vendor and Device IDs in Windows, you must first open your Device Manager, there are several ways to do this:</li>
									<ul>
										<li>Open the Start Menu (Windows Menu, bottom right corner of screen), simply type "Device Manager" and select it when it appears.
									</ul>
								</li>
								<li>Once you have opened the Device Manager, you need to select the device you need drivers for. It will usually have a yellow triangle with an exclamation point in it, or be called "Unknown Device". </li>

								<li>Right-click on the device in question and select "Properties", a new window will appear.</li>

								<li> In that window, click on the "Details" tab.</li>

								<li>Using the drop-down menu, select "Hardware Ids"</li>

								<li>You will see something like "PCI\VEN_8086&DEV_15B7&SUBSYS_06E01028&REV_31"
									<ul>
										<li>VEN_8086 means that the Vendors ID is 8086, you can search this in the Vendor box on the home page.</li>
										<li>DEV_1587 means that the Device ID is 1587, you can search for this using the Device box on the home page.</li>
										<li>SUBSYS_06E01028 means that the Susbsystem ID is 05E01028, you can search for this using the Device box on the home page as well.</li>
									</ul>
								</li>

								</ol>

							</div>
							<div class="tab-pane container" id="linux">
								Detailed walkthroughs can be found on Wikis and Knowledgebases below:
								<ul>
									<li><a target="_blank" href="https://wiki.debian.org/HowToIdentifyADevice/PCI">Debian</a></li>
									<li><a target="_blank" href="https://access.redhat.com/solutions/56081">Red Hat Enterprise</a></li>
								</ul>
							</div>
						</div>

			      </div>
			    </div>

			  </div>
			</div>

			<!-- Bitcoin Modal -->
			<div id="btcModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Donate Bitcoin</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			        <img src="/css/ltcqr.png" />
			        <p class="address">1FXCiDcZKswWw1j99tKoTANDqUMjv6TUYR</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>

			<!-- Litecoin Modal -->
			<div id="ltcModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Donate Litecoin</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      	<img src="/css/ltcqr.png" />
			        <p class="address">LM4sL1m1YLoMMUnVptcHRrdV6mu96XPNxS</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>

			<!-- Iota Modal -->
			<div id="iotaModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Donate Iota</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      	<img src="/css/iotaqr.png" />
			        <p class="address">UXVJIHQVOMLILKXVPNOHBQGVEOPMXOFVKJSNCJAWXSNJH9PYFORHBDKSZAJMUC9CSGBO9ISP9RYZEBMIBAAVTBO9JD</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
		</div>

		<div id="support-privacy">
			<i>Adblockers are great for privacy! So are cryptocurrencies! We&nbsp;support privacy!</i>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
		<script src="/css/bootstrap.min.js"></script>

		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="https://piwik.pcilookup.com/piwik/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '1']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		    })();
		</script>
		<!-- End Piwik Code -->
		
	</div>
{{end}}