{{define "form"}}
<form id="search" class="form-horizontal">

	<!--Vendor Input-->
	<div class="form-group row">
		<label class="col-md-2 control-label" for="ven">Vendor</label>  
		<div class="col-md-6">
			<input id="ven" name="ven" placeholder="e.g. 10de or Nvidia" class="form-control input-lg" type="text">
		</div>
	</div>

	<!--Device Input-->
	<div class="form-group row">
		<label class="col-md-2 control-label" for="dev">Device</label>  
		<div class="col-md-6">
			<input id="dev" name="dev" placeholder="e.g. 010b or 1080 TI" class="form-control input-lg" type="text">
		</div>
	</div>

	<!--Submit Button-->
	<div class="form-group row">
		<label class="col-md-2 control-label" for="submit"></label>
		<div class="col-md-6">
			<button id="submit" name="action" value="submit" type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
{{end}}