{{define "headForm"}}
<form id="header-form" class="form-horizontal">

	<!-- Text input-->
	<div class="form-group">
		<div class="col-md-4">
			<input id="ven" name="ven" type="text" placeholder="Vendor" class="form-control input-md">
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<div class="col-md-4">
			<input id="dev" name="dev" type="text" placeholder="Device" class="form-control input-md">
		</div>
	</div>

	<!-- Text input-->
	<!-- <div class="form-group">
		<div class="col-md-4">
			<input id="sub" name="sub" type="text" placeholder="Sub-Device" class="form-control input-md">
		</div>
	</div> -->

	<!-- Button -->
	<div class="form-group">
		<div class="col-md-4">
			<button id="action" name="action" value="submit" type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>

</form>
{{end}}