{{define "header"}}
     <head>
		<title>PCI Lookup</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<meta name="description" content="Lookup PCI ids and find the information for your devices!">
		<meta name="keywords" content="PCI,ID,database,lookup,pcidatabase,pci-id">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/fontawesome-all.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-9712002391641039",
				enable_page_level_ads: true
			});
		</script>
     </head>
{{end}}
