{{define "indexPage"}}
<!DOCTYPE html>
    <html>
    	{{template "header"}}

    	<header>
    		<div id="header">
    			<a id="logo" href="/"><div><img src="/css/pci-text.png" /></div></a>
                <div id="menu">
                    <div id="help"><img src="/css/help.png" data-toggle="modal" data-target="#helpModal"/></div>
    			    <div id="contact"><img src="/css/mail-blue.png" data-toggle="modal" data-target="#contactModal"/></div>
                </div>
    		</div>
    	</header>

		<body>
		      {{template "form"}}
		      {{template "footer"}}
    	</body>
    </html>
{{end}}
