/*********************/
/* DESKTOP           */
/*********************/

/* EVERYWHERE        */

#logo {
	display: flex;
	max-width: 50%;
	align-items: center;
	justify-content: left;
}

div#margin-wrapper {
	margin: 0 95px;
}

div#header {
	display: flex;
	justify-content: space-between;
	padding: 5px 25px;
	margin-top: 10px;
	margin-bottom: 50px;
	border-bottom: 2px solid #337ab7;
}

#menu{
	display: flex;
	justify-content: right;
	align-items: center;
	page-break-after: always;
	break-after: always;
}

div#help, div#contact{
	cursor: pointer;
	margin: 0px 5px;
	max-width: 25%;
}

#logo img, #help>img, #contact>img{
	max-width: 100%;
}

div#adspace {
	width: 50%;
	margin: auto;
	margin-top: 10%;
}

div#footer{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 20px;
}

#footer>#ad{
	z-index:5;
	width: 100%;
}

#support-privacy {
    width: 100%;
}

#footer img {
	cursor: pointer;
}

#footer form{
	width: auto;
	margin: 0;
}

.coinLogo{
	margin: 10px 15px;
}

.address{
	word-wrap: break-word;
}

/* INDEX             */

form {
	width: 30%;
	margin: auto;
}

button#submit {
	width: 100%;
}

#nnImg{
	width: 50%;
	margin: 15px auto;
	display: block;
}

/* RESULTS           */

#results-header {
	display: flex;
	margin-top: 10px;
	padding: 5px 25px;
	border-bottom: 2px solid #337ab7;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#header-form {
	width: 35%;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#header-form > .form-group {
	margin-bottom: 0 !important;
}

/*********************/
/* MOBILE            */
/*********************/
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {

	/* EVERYWHERE        */
	#logo {
		display: block;
		text-align: center;
	}

	/* INDEX             */
	#logo > img {
		width: 100%;
	}

	#search{
		width: 80%;
		text-align: center;
	}
	/* RESULTS           */
	#results-header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top:5px;
		border-bottom: 2px solid #337ab7;
	}

	#results-header #logo > img {
		width: 50%;
	}

	#header-form {
		width: 100%;
		margin-bottom: 5px;
	}

	#header-form .form-group {
		margin: 0;
	}

	#header-form .form-control {
		width: 100%;
	}

	#contact {
		width: 100%;
		text-align: center;
	}

	#margin-wrapper {
		margin: 0 2px !important;
	}

	#margin-wrapper #manufacturer {
		text-align: center;
	}

	table#results {
	    width: 100% !important;
	}
}

/*********************/
/* NOT MOBILE        */
/*********************/
@media only screen and (min-width: 768px) {
  .table-responsive {
    overflow-x: hidden;
    width: 99%;
  }
}